.c-app-footer {
  &__top {
    padding: 25px 0 30px;
    background: $green-bg;
    text-align: center;
    img { max-width: 815px; }
  }
  &__bottom {
    padding: 60px 0;
    .col--25 {
      &:last-child { align-items: flex-end; }
    }
    .c-socials {
      margin-top: 27px;
      li {
        margin-left: 0;
        margin-right: 16px;
      }
    }
    .copyright {
      margin-top: 30px;
      font-size: 16px;
    }
    ul {
      li { margin-top: 15px; }
      a {
        display: flex;
        color: $text-color;
        svg {
          margin-right: 16px;
          width: 24px;
          height: 24px;
          path { fill: $text-color; }
        }
      }
    }
  }
}
