.c-app-header {
  &__top {
    padding-top: 32px;
    @include tablet {
      padding-top: 10px;
    }
    @include mobile {
      padding-top: 0;
    }
    .contacts-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include mobile {
        display: none;
      }
    }
    .logo-row {
      padding: 24px 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include tablet {
        padding: 15px 0;
      }
    }
  }
  &__bottom {
    padding: 26px 0;
    background: $green-bg;
    @include tablet {
      padding: 20px 0;
    }
    ul {
      margin: 0 auto;
      max-width: 574px;
      display: flex;
      justify-content: space-between;
    }
    li { padding: 0 10px; }
    a {
      font-size: 20px;
      text-transform: uppercase;
      color: $white-color;
      opacity: .5;
      &:hover { opacity: .75; }
      &.nuxt-link-exact-active { opacity: 1; }
      @include tablet {
        font-size: 16px;
      }
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
