.c-contacts-section {
  padding: 80px 0 115px;
  h2 { text-align: center; }
  ul {
    display: flex;
    flex-direction: row;
    li {
      position: relative;
      margin-top: 60px;
      padding-left: 124px;
      width: 33.3333%;
      .ico {
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &--clock { background-image: url('/img/icons/ico-clock.svg'); }
        &--phone { background-image: url('/img/icons/ico-phone.svg'); }
        &--pin { background-image: url('/img/icons/ico-pin.svg'); }
      }
      h6 { margin-bottom: 16px; }
      p {
        margin-top: 5px;
        max-width: 240px;
      }
      a {
        color: $text-color;
        font-weight: 700;
      }
    }
  }
}
