.c-top-section {
  position: relative;
  padding: 240px 10px 280px;
  width: 100%;
  text-align: center;
  background: url('/img/main-img.jpg') center center no-repeat;
  background-size: cover;
  h4 { margin-top: 50px; }
  @include wide {
    padding: 180px 10px;
  }
  @include tablet {
    padding: 120px 10px;
    h4 { margin-top: 30px; }
  }
  @include mobile {
    padding: 80px 10px;
  }
}

.interstate-moves-page {
  .c-top-section { background: url('/img/interstate-moves-big.jpg') center center no-repeat; }
}

.commercial-moves-page {
  .c-top-section { background: url('/img/commercial-moves-big.jpg') center center no-repeat; }
}

.warehousing-page {
  .c-top-section { background: url('/img/warehousing-big.jpg') center center no-repeat; }
}
