.c-top-section {
  position: relative;
  padding: 100px 10px 140px;
  width: 100%;
  text-align: center;
  background-image: url('/img/main-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include wide {
    padding: 180px 10px;
  }

  @include tablet {
    padding: 120px 10px;
  }

  @include mobile {
    padding: 80px 10px;
  }

  .c-quote-form {
    margin: 20px auto 0;
    text-align: left;
  }
}

.interstate-moves-page {
  .c-top-section { background-image: url('/img/interstate-moves-big.jpg'); }
}

.commercial-moves-page {
  .c-top-section { background-image: url('/img/commercial-moves-big.jpg'); }
}

.warehousing-page {
  .c-top-section { background-image: url('/img/warehousing-big.jpg'); }
}
