$default-color: #424242;
$primary-color: #48A300;

@import '~vue2-datepicker/scss/index.scss';

.mx-datepicker {
  width: 100%;
}

.mx-input {
  height: auto;
  border-radius: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

.mx-datepicker-popup {
  box-shadow: none;
  border-color: $primary-color;
}
