//fonts
$main-font: 'Roboto', sans-serif;

$text-color: #424242;
$green-text: #65B400;
$green-bg: #48A300;
$white-color: #fff;
$black-color: #000;


@mixin wide {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}
